@model VaccinationModel
@{
    ViewData["Title"] = "Add vaccination to Medpr";
}

<div>
    <h1>Add vaccination</h1>

    <form asp-controller="Vaccinations" asp-action="Create" method="post">
        <div class="mb-3">
            <label for="date" class="form-label">Date</label>
            <input asp-for="Date" type="date" class="form-control" id="date"
                   min="@DateTime.Now.AddYears(-3).ToString("yyyy-MM-dd")"
                   max="@DateTime.Now.AddYears(2).ToString("yyyy-MM-dd")"
                   value="@DateTime.Now.AddDays(-1).ToString("yyyy-MM-dd")">
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="daysOfProtection" class="form-label">Days of protection</label>
            <input asp-for="DaysOfProtection" class="form-control" id="daysOfProtection">
            <span asp-validation-for="DaysOfProtection" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="vaccine" class="form-label">Vaccine</label>
            <select asp-for="VaccineId" asp-items="@Model.Vaccines" id="vaccine">
                 <option selected="selected" disabled="disabled">Select vaccine</option>
            </select>
            <span asp-validation-for="VaccineId" class="text-danger"></span>
            <a class="btn btn-primary" asp-action="Create" asp-controller="Vaccines">Add vaccine</a>
        </div>
        <div class="mb-3">
            @if (Model.Users != null){
                <label for="user" class="form-label">User</label>
                <select asp-for="UserId" asp-items="@Model.Users" id="user">
                    @if (User.IsInRole("Admin"))
                    {
                        <option selected="selected" disabled="disabled">Select user</option>
                    }
                </select>
            }
            else{
                <input asp-for="UserId" type="hidden" value="@Model.UserId" id="user">
            }
            
            <span asp-validation-for="UserId" class="text-danger"></span>
            @if (User.IsInRole("Admin"))
            {
                <a class="btn btn-primary" asp-action="Register" asp-controller="Users">Add user</a>
            }
        </div>


        <input type="submit" class="btn btn-primary" value="Submit">

    </form>
</div>

@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}


