@model VaccinationModel

<div>
    <h3>
        @Html.DisplayFor(modelItem => Model.Date) (@Model.DaysOfProtection)
    </h3>

    <h5>Vaccine taken:</h5>
    <div>
        @Model.Vaccine.Name - 
        @Model.Vaccine.Reason
    </div>

    <h5>User vaccinated:</h5>
    <div>
        @Model.User.FullName
        @Model.User.Login
    </div>
</div>


