@model PrescriptionModel
@{
    ViewData["Title"] = "Add appointment to Medpr";
}

<div class="container text-center">
    <div class="row align-items-center">
        <h1>Add prescription</h1>
    </div>
    <form asp-controller="Prescriptions" asp-action="Create" method="post" class="row gx-3 gy-2 align-items-center" id="mainform">
        <div class="row align-items-center">
            <div class="col">
                <label for="doctor" class="form-label"></label>
                <select asp-for="DoctorId" asp-items="@Model.Doctors" id="doctor">
                    <option selected="selected" disabled="disabled">Select doctor</option>
                </select>
            </div>
            <div class="col">
                <label for="drug" class="form-label"></label>
                <select asp-for="DrugId" asp-items="@Model.Drugs" id="drug">
                    <option selected="selected" disabled="disabled">Select drug</option>
                </select>
            </div>
            <div class="col">
                <label for="user" class="form-label"></label>
                <select asp-for="UserId" asp-items="@Model.Users" id="user">
                    <option selected="selected" disabled="disabled">Select user</option>
                </select>
            </div>
        </div>
        <br>
        <br>
        <div class="row align-items-center">
            <div class="col">
                <label for="startDate" class="form-label">Start at</label>
                <input asp-for="StartDate" type="date" class="form-control" id="startDate"
                       min="@DateTime.Now.AddYears(-3).ToString("yyyy-MM-dd")"
                       max="@DateTime.Now.AddYears(1).ToString("yyyy-MM-dd")"
                       value="@DateTime.Now.AddDays(-1).ToString("yyyy-MM-dd")">
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="col">
                <label for="endDate" class="form-label">End at</label>
                <input asp-for="EndDate" type="date" class="form-control" id="endDate"
                       min="@DateTime.Now.AddYears(-3).ToString("yyyy-MM-dd")"
                       max="@DateTime.Now.AddYears(1).ToString("yyyy-MM-dd")"
                       value="@DateTime.Now.ToString("yyyy-MM-dd")">
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="col">
                <label for="dose" class="form-label">Pills per day</label>
                <input asp-for="Dose" class="form-control" id="dose">
                <span asp-validation-for="Dose" class="text-danger"></span>
            </div>
        </div>
    </form>
    <br>
    <div class="row align-items-center">
        <div class="col">
            <a class="btn btn-primary" asp-action="Create" asp-controller="Doctors">Add doctor</a>
        </div>
        <div class="col">
            <a class="btn btn-primary" asp-action="Create" asp-controller="Drugs">Add drug</a>
        </div>
        <div class="col">
            <a class="btn btn-primary" asp-action="Create" asp-controller="Users">Add user</a>
        </div>
    </div>
    <br>
    <div class="row align-items-center">
        <div>
            <input type="submit" form="mainform" class="btn btn-primary col-sm-2" value="Submit">
        </div>
    </div>
</div>

@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}


