@model PrescriptionModel

<div class="container text-center">
    <div class="row align-items-center">
        <div class="col">
            <h5>User:</h5>
            <p>@Model.User.FullName</p>
            <p>@Model.User.Login</p>
            <p>@Model.User.DateOfBirth</p>
        </div>
        <div class="col">
            <h5>Doctor:</h5>
            <p>@Model.Doctor.Name</p>
            <p>who has <i>@Model.Doctor.Experience</i> years of experience</p>
        </div>
        <div class="col">
            <h5>Drug:</h5>
            <p>@Model.Drug.Name</p>
            <p>@Model.Drug.PharmGroup</p>
            <p>$@Model.Drug.Price per pill</p>
            <p>@Model.Dose pills per day</p>
        </div>
        <div class="col">
            <h5>Begin:</h5>
            <p>@Model.StartDate</p>
            <h5>End:</h5>
            <p>@Model.EndDate</p>
        </div>
    </div>
</div>


