@model FamilyMemberModel

@{
    bool isAdmin = bool.Parse(ViewData[$"{Model.Family.Surname}"].ToString());
    string columnClass = isAdmin ? "col-4" : "col-6";
    string formColClass = isAdmin ? "col-9" : "col-12";

    var currentUser = Guid.Parse(ViewData["CurrentUser"].ToString());
}

<div class="container text-center">
    <div class="row">
        <form asp-controller="FamilyMembers" asp-action="Edit" method="post" class="row align-items-center @formColClass">
            <div class="@columnClass">
                <label for="user">@Model.User.Login</label>
            </div>
            <input asp-for="UserId" type="hidden" value="@Model.UserId" id="user">
            <input asp-for="FamilyId" type="hidden" value="@Model.FamilyId" id="family">
            <input asp-for="Id" type="hidden" value="@Model.Id" id="family">
            @if (Model.User.FullName != null)
            {
                <div class="@columnClass">
                    @Model.User.FullName
                </div>
            }
            else
            {
                <div class="@columnClass">
                    User has not provided name yet
                </div>
            }
            
            @if (isAdmin)
            {
                <div class="col-4">
                    <label for="isAdmin" class="form-check-label">Can see family info</label>
                    <input asp-for="IsAdmin" id="isAdmin" class="form-check-input" onchange="this.form.submit()">
                    <span asp-validation-for="IsAdmin" class="text-danger"></span>
                </div>
            }
        </form>
        @if (isAdmin)
        {
            <form action="/FamilyMembers/Delete?MemberId=@Model.Id" method="post" class="col-3">
                <div class="col-auto align-self-center">
                    @if (currentUser == Model.UserId){
                        <input type="submit" class="btn btn-outline-danger" value="Remove me from @Model.Family.Surname">
                    }
                    else if (isAdmin){
                        <input type="submit" class="btn btn-outline-danger" value="Remove">
                    }
                </div>
            </form>
        }
    </div>
</div>
<br />
<br />

@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
